{% extends 'base.html' %}

{% block content %}

<style type="text/css">
       .text-field{
	border: 2px solid #ff8316;
	width: 650px;
}
</style>
<center>
<p>
	<br><strong><h1 style="font-family: coronet; color: #ff8316">Mars Through The Eyes Of Curiosity</strong></h1>
</p>
<p>
	<br><img src={{image}} style="width: 50%; height: 55%;" /> 
</p>

<div class="text-field">
	<br><p style="font-family: coronet; color: #514d4d">Rover: {{rover_name}}</p>
	<p style="font-family: coronet; color: #514d4d">Launch: {{launch_date}}</p>
	<p style="font-family: coronet; color: #514d4d">Land: {{landing_date}}</p>
	<p style="font-family: coronet; color: #514d4d">Camera: {{camera_name}}  {{camera_full_name}}</p>
</div>

</center>

{% endblock %}