<html>
<head>
    <title>Register</title>
</head>
<body>
    <form action="/home/register/" method="post">
      {% csrf_token %}
     
     <input type="text" name="username" placeholder="Username">
     <input type="text" name="email" placeholder="E-main">
     <input type="password" name="password1" placeholder="Password">
     <input type="password" name="password2" placeholder="Password Again">
        
     <input type="submit" value="Register">
    </form>

    <p>Or  <a href="/home/login/"><button type="submit">Login</button></a>  </p>
</body>
</html>
